@font-face {
	font-family: "JetBrains Mono";
	src: url("../font/JetBrainsMono-Regular.ttf");
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "JetBrains Mono", sans-serif;
	font-size: 18px;
	text-align: center;
	background-color: #27272a;
	color: #f9fafb;
}

.container {
	display: grid;
	grid-template: 15% 85% / 70%;
	height: 100%;
	justify-content: center;
}

.header {
	background-color: #18181b;
	box-shadow: 0px 2px 5px #09090b;
}

.game {
	display: grid;
	grid-template: repeat(4, 1fr);
	justify-content: center;
	padding-top: 20px;
}

.btn {
	background-color: #18181b;
	margin: 10px 275px 10px 275px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px #09090b;
}

.btn:active {
	background-color: #3f3f46;
}

.score {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: #18181b;
	justify-content: center;
	align-items: center;
	padding: 10px 50px 10px 50px;
	grid-gap: 40px;;
}

.score>div {
	border: 2px solid #7f1d1d;
	padding: 5px;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 20px;
}

.board {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	height: 300px;
	width: 300px;
	padding: 50px 250px 50px 250px;
	background-color: #7f1d1d;
	box-shadow: 0px 2px 5px #450a0a;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 60px;
	font-weight: bold;
}

.cell:active {
	background-color: #450a0a;
}

#b-11 {
	border-right: 5px solid #09090b;
	border-bottom: 5px solid #09090b;
}

#b-12 {
	border-right: 5px solid #09090b;
	border-bottom: 5px solid #09090b;
}

#b-13 {
	border-bottom: 5px solid #09090b;
}

#b-21 {
	border-right: 5px solid #09090b;
	border-bottom: 5px solid #09090b;
}

#b-22 {
	border-right: 5px solid #09090b;
	border-bottom: 5px solid #09090b;
}

#b-23 {
	border-bottom: 5px solid #09090b;
}

#b-31 {
	border-right: 5px solid #09090b;
}

#b-32 {
	border-right: 5px solid #09090b;
}

